<div class="container">
<div class="row">
<div class="col-4 m-auto">
<%= render  "shared/new_post" %>
</div>
<div class="col-4 m-auto post-list">
<%@posts.each do |post|%>
<div class="post ">
<p class="creator text-left"> Posted by<%=post.creator.user_name%></p>
<p><%=post.content%></p>
</div>
<%end%>
</div>
</div>
</div>