// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.container-fluid{
  margin-top: 3vh;
}

body{
  background-color: rgb(221, 221, 221);
  overflow-x: hidden;
}

.post{
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 5px;
  -webkit-box-shadow: 7px 10px 18px 0px rgba(189,170,189,0.6);
-moz-box-shadow: 7px 10px 18px 0px rgba(189,170,189,0.6);
box-shadow: 7px 10px 18px 0px rgba(189,170,189,0.6);
  display: flex;
  .cont{
    border-bottom: 1px solid grey;
  }
  form{
    display: flex;
    width: 50%;
  }
}

.img-tag{
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.creator{
  height: 40px;
  border-bottom: 1px solid grey;
  img{
    height: 30px;
    width: 30px;
  }
}


form{
  display: flex;
  flex-direction: column;
}

.gravatar{
  border-radius: 100%;
  max-width: 100%;
  height: auto;
}

.btn-primar{
  background: rgb(96,80,182);
  background: linear-gradient(90deg, rgba(96,80,182,0.9359943806624212) 0%, rgba(82,69,170,1) 0%, rgba(142,43,171,1) 0%, rgba(70,51,164,1) 96%);
  font-family: bold;
  color: white;
}

.btn-like{
  background: rgb(222, 222, 223);
  border-radius: 100%;
}

.btn-like:hover{
  background: rgb(125, 125, 165);
}


.profile{
  border: 1px solid rgb(168, 168, 168);
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 7px 10px 18px 0px rgba(189,170,189,0.6);
-moz-box-shadow: 7px 10px 18px 0px rgba(189,170,189,0.6);
box-shadow: 7px 10px 18px 0px rgba(189,170,189,0.6);
  display: flex;
  justify-content: space-around;
}

.info{
  display: flex;
  flex-direction: column;
}

.specific{
  margin-top: 2%;
}


#form-div{
  form{
    width: 50%;
    margin: auto;
    border-radius: 5%;
    padding: 10px;
    background-color: rgb(226, 226, 226);
    -webkit-box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.75);
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
}
//====================
#error_explanation{
  font-size: small;
  color: rgb(241, 88, 88);
}

.card-header{
  img{
    height: 50px;
    width: 50px;
  }
}


#signin{
  height: 100vh;
  width: 100vw;
  background-image: image-url('undraw_remotely_2j6y.svg'); 
  background-repeat: no-repeat;
}

#signup{
  height: 100vh;
  width: 100vw;
  background-image: image-url('undraw_remotely_2j6y.svg'); 
  background-repeat: no-repeat;
}

.comment{
  img{
    height: 30px;
    width: 30px;
  }
}

#new_post{
  position: absolute;
  left: 2%;
  width: 25%;
  background-color: rebeccapurple;
  a{
    color: initial;
  }
}
