// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.container-fluid{
  margin-top: 3vh;
}

body{
//   background-color: #330033;
// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
.post{
  border: 1px solid rgb(168, 168, 168);
  border-radius: 5px;
  -webkit-box-shadow: 7px 10px 18px 0px rgba(189,170,189,0.6);
-moz-box-shadow: 7px 10px 18px 0px rgba(189,170,189,0.6);
box-shadow: 7px 10px 18px 0px rgba(189,170,189,0.6);
  display: flex;
}

.post p{
text-align: center;
font-family: "Times New Roman", Times, serif;
font-size: 21px;
letter-spacing: 0px;
word-spacing: 0px;
color: rgb(70, 70, 70);
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

.img-tag{
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.creator{
  height: 40px;
  border-bottom: 1px solid grey;
  img{
    height: 30px;
    width: 30px;
  }
}


form{
  display: flex;
  flex-direction: column;
}

.gravatar{
  border-radius: 100%;
  max-width: 100%;
  height: auto;
}

.btn-primar{
  background: rgb(96,80,182);
  background: linear-gradient(90deg, rgba(96,80,182,0.9359943806624212) 0%, rgba(82,69,170,1) 0%, rgba(142,43,171,1) 0%, rgba(70,51,164,1) 96%);
  font-family: bold;
  color: white;
}

.post{
  background-color: rgb(196, 191, 191);
  .cont{
    border-bottom: 1px solid grey;
  }
  form{
    width: 30%;
    margin: auto;
  }
  textarea{
    background-color: rgb(228, 228, 228);
    widows: 30%;
  }
}

.profile{
  border: 1px solid rgb(168, 168, 168);
  border-radius: 5px;
  -webkit-box-shadow: 7px 10px 18px 0px rgba(189,170,189,0.6);
-moz-box-shadow: 7px 10px 18px 0px rgba(189,170,189,0.6);
box-shadow: 7px 10px 18px 0px rgba(189,170,189,0.6);
  display: flex;
  justify-content: space-around;
}

.info{
  display: flex;
  flex-direction: column;
}

.count{
  background: rgb(96,80,182);
background: linear-gradient(90deg, rgba(96,80,182,0.9359943806624212) 0%, rgba(82,69,170,1) 0%, rgba(142,43,171,1) 0%, rgba(70,51,164,1) 96%);
  border-radius: 5px;
  font-family: Georgia, serif;
font-size: 26px;
letter-spacing: 2px;
word-spacing: 2px;
color: #FFFFFF;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 1vh;
}

.specific{
  display: flex;
  flex-direction: column;
}

.post_comment {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 90%;
  p {
    margin-left: 10px;
  }
}